node_modules
__pycache__
build
.pytest_cache
.venv
docs/_build/
*.pid
teststack/ganache/.data/
key.*
teststack/crossbar/.xbrdb/
docs/_static/gen/
.tox
*.egg-info/
dist/
*.pid
.idea
*.log
coverage.json
coverage
allFiredEvents
coverageEnv
scTopics
