node_modules
__pycache__
build
.pytest_cache
.venv
docs/_build/
*.pid
teststack/ganache/.data/
key.*
teststack/crossbar/.xbrdb/
docs/_static/gen/
.tox
*.egg-info/
dist/
*.pid
.idea
*.log
coverage.json
coverage
allFiredEvents
coverageEnv
scTopics
.xbrdb-transactions
.ipynb_checkpoints
package-lock.json
geth/privchain
docker/data
.coverage_contracts/
.coverage_artifacts/

.openzeppelin/.session
