awscli>=1.16.57
codecov>=2.0.15
docker-compose>=1.23.1
pyenchant>=2.0.0
pygments>=2.2.0
pygments-lexer-solidity>=0.3.1
scour>=0.37
sphinx>=2.0
sphinx-rtd-theme>=0.4.2
sphinxcontrib-images>=0.8.0
sphinxcontrib-soliditydomain>=0.5.1
sphinxcontrib-spelling>=4.2.0
sphinxcontrib-websupport>=1.1.0
tox>=3.5.3
twine>=3.3.0
twisted>=19.7.0
wheel>=0.36.2
